{% extends 'base.html' %}
  {% block title %}sign up{% endblock %}
  {% block sub_content %}
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Up</title>

  <!-- Font Icon -->
  <link rel="stylesheet" href="../static/sign-up/fonts/material-icon/css/material-design-iconic-font.min.css">

  <!-- Main css -->
  <link rel="stylesheet" href="../static/sign-up/css/style.css">
</head>
<body>

  <div class="main">

      <!-- Sign up form -->
      <section class="signup">
          <div class="container">
              <div class="signup-content">
                  <div class="signup-form">
                      <h2 class="form-title"><svg class="bi bi-clipboard-data" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
  <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
  <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
</svg> Sign up</h2>
                      <form method="POST" class="register-form" id="register-form">
                          <div class="form-group">
                              <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                              <input type="text" name="username" id="name" placeholder="User Name" required/>
                          </div>
                          <div class="form-group">
                              <label for="email"><i class="zmdi zmdi-email"></i></label>
                              <input type="email" name="email" id="email" placeholder="Your Email" required/>
                          </div>
                          <div class="form-group">
                              <label for="phone"><i class="zmdi zmdi-phone"></i></label>
                              <input type="tel" name="phone" id="phone" placeholder="Your Phone" required/>
                          </div>
                          <div class="form-group">
                              <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                              <input type="password" name="password" id="pass" placeholder="Password" required/>
                          </div>
                          <div class="form-group">
                              <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                              <input type="password" name="confirm_password" id="re_pass" placeholder="Repeat your password" required/>
                          </div>
                          <div class="form-group">
                              <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" required/>
                              <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                          </div>
                          <div class="form-group form-button">
                              <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                          </div>
                      </form>
                  </div>
                  <div class="signup-image">
                      <figure><img src="../static/sign-up/images/signup-image.jpg" alt="sing up image"></figure>
                      <a href="/" class="signup-image-link">I am already member</a>
                  </div>
              </div>
          </div>
      </section>

      <!-- Sing in  Form -->
      <!-- <section class="sign-in">
          <div class="container">
              <div class="signin-content">
                  <div class="signin-image">
                      <figure><img src="images/signin-image.jpg" alt="sing up image"></figure>
                      <a href="#" class="signup-image-link">Create an account</a>
                  </div>

                  <div class="signin-form">
                      <h2 class="form-title">Sign up</h2>
                      <form method="POST" class="register-form" id="login-form">
                          <div class="form-group">
                              <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                              <input type="text" name="your_name" id="your_name" placeholder="Your Name"/>
                          </div>
                          <div class="form-group">
                              <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                              <input type="password" name="your_pass" id="your_pass" placeholder="Password"/>
                          </div>
                          <div class="form-group">
                              <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                              <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                          </div>
                          <div class="form-group form-button">
                              <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                          </div>
                      </form>
                      <div class="social-login">
                          <span class="social-label">Or login with</span>
                          <ul class="socials">
                              <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                              <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                              <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </section> -->

  </div>

  <!-- JS -->
  <script src="../static/sign-up/vendor/jquery/jquery.min.js"></script>
  <script src="../static/sign-up/js/main.js"></script>
</body>
  {% endblock %}
